// Global styling for this template
body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

#horarios ul {
    font-size: 20px;
}

#horarios .domingo {
    color: red;
}

#horarios .dia-semana {
    color: green;
}

#horarios .sexta-sabado {
    color: orange;
}

a {
  color: $theme-success;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: $theme-success;
}

/*
a,
a:hover,
a:focus,
a:active,
a.active {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

    color: $theme-success;
    outline: none;
}

a:hover {
  color: #e76c3c;
}
*/

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     text-transform: uppercase;
//     font-weight: 700;
// }

hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

hr.star-light {
    border-color: white;
}

hr.star-light:after {
    background-color: $theme-success;
    color: white;
}

hr.star-primary {
    border-color: $theme-primary;
}

hr.star-primary:after {
    background-color: white;
    color: $theme-primary;
}

.img-centered {
    margin: 0 auto;
}

#home .row {
  padding: 80px 0px;
}

#home img {
  width: 100%;
}

.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #3d566e;
  color: #fff;
}
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 3em;
}
.subtitle {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  padding-bottom: 30px;
  color: #bdc3c7;
}

section {
    padding: 100px 0;
    h2 {
        margin: 0;
        font-size: 3em;
    }
}

section.success {
    background: $theme-success;
    color: white;
}

.navbar {
  margin-bottom: 0;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
}
// .navbar-default .navbar-nav > .active > a,
// .navbar-default .navbar-nav > .active > a:hover,
// .navbar-default .navbar-nav > .active > a:focus {
//   background: none;
//   color: #fff;
// }
// .navbar-default .navbar-nav li a,
// .navbar-default .navbar-nav li a:hover {
//   color: #fff;
// }
// .navbar-default .navbar-nav > .active,
// .navbar-default .navbar-nav li:hover {
//   background: #e74c3c;
//   padding-bottom: 5px;
//   color: #fff;
// }
// .navbar-default .navbar-brand {
//   font-size: 25px;
//   color: #fff;
//   font-weight: 100;
// }
// .navbar-default .navbar-brand:hover {
//   color: #eee;
// }
// .navbar-default .navbar-toggle .icon-bar {
//   background: #fff;
// }
// .navbar-default .navbar-toggle:hover,
// .navbar-default .navbar-toggle:focus {
//   background: #333;
// }
// .affix.navbar-default {
//   background: rgba(0, 0, 0, 0.8);
// }

// .navbar-default .navbar-brand {
//   font-size: 25px;
//   color: #fff;
//   font-weight: 100;
// }

// .navbar-default .navbar-brand i {

//   background-image: url(../img/dumbbell.png);
//   background-size: cover;
//   display: inline-block;
//   width: 24px;
//   height: 24px;
//   vertical-align: middle;
//   opacity: 0.3;
// }

.navbar-default .navbar-brand img {
  width: auto;
  height: 32px;
  left: 10px;
  display: block;
  position: relative;
}

#home {
  background: #34495e;
  color: #fff;
}
#home .btn {
  margin-right: 20px;
}
#home img {
  //max-width: 100%;
}
#home p {
  padding: 5px 0;
}

/*Serviço*/
#servicos h3 {
  margin-top: 0;
  font-size: 28px;
  color: #e74c3c;
}

#servicos .servico-item img {
  width: 100px;
}

/*Fotos*/
#fotos {
  background: #f1f1f1;
}
/*Fotos Overlay */
.fotos-item {
  position: relative;
  margin-bottom: 15px;
}
.fotos-item img {
  width: 100%;
}
.fotos-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.fotos-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
.fotos-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fotos-item .icons .preview i {
  color: #e74c3c;
}
#convenios {
  background: #fff;
}
#convenios .row {
  padding: 20px 0px;
}
#convenios img {
  max-height: 80px;
  width: auto;
  padding: 5px;
}


#sobre {
  background: #34495e;
  color: #fff;
}
#sobre p {
  line-height: 30px;
  font-size: 17px;
}
#contato {
  background: #f1f1f1;
}
#contato ::-webkit-input-placeholder {
  color: #ecf0f1;
}
#contato :-moz-placeholder {
  color: #ecf0f1;
}
#contato ::-moz-placeholder {
  color: #ecf0f1;
}
#contato :-ms-input-placeholder {
  color: #ecf0f1;
}
#contato .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}
#contato .social .social-links a:hover {
  color: #fff;
}
#contato .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#contato .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#contato .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#contato .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
#contato .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}
#contato .social .fa-github:hover {
  background: #171515;
  color: #fff;
}
#contato .contato-info {
  margin: 40px 0;
}
#contato .contato-info p {
  font-size: 20px;
}
#contato .contato-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#copyright {
  background: #F1F1F1;
  color: #333;
}
#copyright a {
  color: #333;
}


@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
    .btn {
        font-size: 16px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 28px;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
}
